name: Jobs on Release Release

on:
  release:
  workflow_dispatch:

jobs:
  release-job:
    name: Release Workflows
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Latest tag Applier
        uses: EndBug/latest-tag@latest